.navbar-nav > li{
    padding-left: 20px;
    padding-right: 30px;
    font-size: 20px;
}

.navbar-brand {
    color: #4978DD  !important;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 30px !important;
}

.header-container {
    position: relative;
    text-align: left;
    max-width: 500px;
    padding-left: 100px;
    padding-top: 50px;
}

.pro-img, .premium-img {
    width: 100%;
    max-width: 30vw;  
}

.table-container {
    position: relative;
    max-width: 1000px;
    padding-left: 100px;
}

.table {
    font-size: 25px;
    padding: 20px;
}

footer div p {
    margin: 0;
    color: white;
    padding-left: 30px;
}

footer div {
    position: absolute;
    padding-top: 15px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;   
    }

footer {
    margin-top: auto;
    height: 105px;
    background-color: rgb(37, 37, 37);
}